#bader-weather-widget {
    display: flex;
    align-items: center;
}
#bader-weather-widget .bader-weather-widget-icon {
    margin-right: 20px;
    text-align: center;
}
#bader-weather-widget .bader-weather-widget-icon p{
    margin: 0;
    font-weight: bold;
}